aiohttp==3.10.11
beautifulsoup4==4.13.3
boto3==1.37.23
docx==0.2.4
fastapi==0.115.12
networkx==3.4.2
numpy==2.2.4
playwright==1.51.0
pydantic==2.11.2
pydantic_settings==2.8.1
pytest==8.3.5
python-dotenv==1.1.0
Requests==2.32.3
sentence_transformers==4.0.1
uvicorn==0.34.0
weasyprint==65.0
gitpython==3.1.44

# Serper API dependencies
httpx>=0.24.0